<div class="container-xl">
    <div class="FL-head">
        <p>Всё об FLStudio</p>
    </div>
        <div class="OGL">
            <p>Сочные лупы: как работать в FL Studio</p>
            </div>
                <div class="FL-text">
                    <p>
                        FL Studio — одна из самых популярных программ для создания музыки, недавно отметившая четверть века. 
                        Ее оригинальная версия, тогда еще называвшаяся FruityLoops, была выпущена компанией Image-Line в декабре 1997 года.
                        За это время у «Фруктов» появилось как огромное количество фанатов, так и немало хейтеров. 
                        Первые ценят программу за интуитивный интерфейс, вторые — считают, что она не годится для серьезного творчества. 
                        Но, как и другой софт, ФЛ всего лишь дает необходимые инструменты. 
                        Что с ними делать, зависит уже от самого пользователя.
                        В этом обзоре рассмотрим, что именно FL Studio может предложить новичку, что потребуется для начала работы и как создать свой первый проект.
                    </p>
            <div class="OGL">
                <p>Для кого подойдет FL Studio</p>
            </div>
            <div class="FL-text">
                <p>
                    Конечно, особенности интерфейса и базовый набор плагинов делают FL Studio удобной в первую очередь для создания электронной музыки. 
                    Различные подвиды техно и хип-хоп биты — вот основные жанры, которые ассоциируются с «Фруктами». Даже само название отсылает к «сочным» паттернам, которые можно создать в местном секвенсоре.
                    Первая версия программы была простенькой цифровой драм-машиной. 
                    Под руководством разработчика Дидье Дамбрена проект значительно улучшался с каждым годом и вскоре стал полноценной DAW — цифровой звуковой студией. 
                    Поэтому слово «студия» появилось и в названии. Сейчас в список возможностей входит запись вокала и инструментальных дорожек, аранжировочный интерфейс и плагины для сведения и мастеринга готовых треков.
                    Это делает «Фрути Лупс» подходящей для записи любой музыки, но всё же репутация программы прочно связана с электронным продакшеном. 
                    FL Studio часто становится выбором молодых продюсеров, которые делают первые шаги в мире танцевальной музыки и битмейкинга.
                    Но даже если ваше творчество не входит в эти категории, простота местного интерфейса поможет разобраться в базовых принципах звукозаписи. 
                    Это знание обязательно пригодится в работе с другими, более сложными программами.
                </p>
            <div class="OGL">
                <p>Оборудование для FL Studio</p>
            </div>
            <div class="FL-text">
                <p>
                    Для работы с FruityLoops не требуется какого-то особого оборудования. 
                    Программа отлично ведет себя на любом современном ноутбуке или настольном компьютере. 
                    Есть даже мобильная версия для Android и iOS.
                    Как правило, основная нагрузка во время работы с DAW ложится на процессор и оперативную память. 
                    Если эти компоненты вашей системы справляются с играми текущего поколения, то проблем не возникнет и с FL Studio. 
                    Производительность может начать падать, если в проекте используется много дорожек и плагинов. 
                    Также не помешает выключить другой софт. 
                    Нередко причиной многих проблем становится браузер с большим количеством открытых вкладок.
                </p>
            </div>
                <div class="OGL">
                    <p>Аудиокарты</p>
                </div>
                <div class="FL-text">
                    <p>
                        «Фрукты» могут работать с базовым аудио вашей системы — например, встроенными динамиками и микрофоном ноутбука. 
                        Этот вариант может подойти для черновых записей, но для полноценного творчества пригодится наличие внешней аудиокарты, или аудиоинтерфейса.
                        Эти устройства подключаются по USB и значительно расширяют возможности вашего звука. 
                        К аудиоинтерфейсу можно подключить профессиональные мониторы и наушники, а для записи доступны разъемы XLR (для микрофонов) и Jack ¼” (для инструментальных кабелей). 
                        Также в них нередко встречается поддержка MIDI-входов и выходов для соединения с винтажными и современными синтезаторами.
                    </p>
                </div>
                    <div class="OGL">
                        <p>Миди-клавиатуры и другие контроллеры</p>
                    </div>
                    <div class="FL-text">
                        <p>
                            В любой DAW есть режим управления с обычной буквенной клавиатуры. 
                            Как и в случае со стандартным аудио, это может быть удобно для записи сырых идей. 
                            Но наличие миди-клавиатуры с фортепианными клавишами сделает процесс более гибким и музыкальным.
                            Контроллеры бывают и других видов. Это могут быть пэды для работы с ударными или крутящиеся ручки, с помощью которых удобно менять параметры виртуальных инструментов. 
                            Большинство устройств сегодня объединяет в себе несколько элементов управления.
                        </p>
                    </div>
            <div class="OGL">
                <p>Драйверы</p>
            </div>
            <div class="FL-text">
                <p>
                    Как правило, для работы с внешними звуковыми картами требуются драйверы ASIO. 
                    Это программные решения, позволяющие записывать звук без задержки. 
                    Обычно их можно скачать с сайта производителя или воспользоваться универсальным ASIO4ALL, доступным в интернете. 
                    В комплекте с FL Stuido идет ASIO4ALL и «родной» драйвер FL Studio ASIO, которые можно установить вместе с программой.
                    Драйверы для клавиатур и контроллеров в большинстве случаев устанавливаются автоматически при первом подключении устройства. 
                    Если этого не происходит, их тоже можно найти на сайтах разработчиков или на прилагающихся дисках, если это винтажные модели.
                </p>
            </div>
            </div>
        </div>
</div>