<div class="container-xl">
    <div class="FL-head">
        <p>Всё об Reaper</p>
    </div>
    <div class="OGL">
        <p>Основная информация</p>
    </div>
    <div class="FL-text">
        <p>
            REAPER, которая несмотря на скромный размер (дистрибутив занимает менее 10 Мб) обладает богатым функционалом и отличными характеристиками. 
            Программа существует в версиях для Windows и Mac OS X.
            Одним из разработчиков REAPER и основателем Cockos Inc. является известный Justin Frankel, подаривший в свое время миру такие вещи как WinAmp и Gnutella. 
            Новые функции появляются в программе чуть ли не каждую неделю. 
            При этом активно принимаются во внимание пожелания и замечания пользователей.
        </p>
        <div class="OGL">
            <p>Интерфейс</p>
        </div>
        <div class="FL-text">
            <p>
                Внешний вид программы и её поведение выдает то, что делалась она в первую очередь программистом. 
                Аскетичный на первый взгляд интерфейс и знакомые элементы управления — поле мультитрека, кнопки транспорта — все выглядит довольно обычно.
                Но стоит вам открыть окно настроек (Options → Preferences) и вы можете растеряться от обилия параметров, которые можно изменить. 
                Настроить можно практически что угодно — от звуковых карт до поведения мыши в разных окнах. 
                Программа поддерживает вывод с помощью аудиоподсистемы Windows (WaveOut), DirectSound, WDM Kernel Streaming и ASIO.
            </p>
            <div class="OGL">
                <p>Работа с многодорожечным редактором</p>
            </div>
            <div class="FL-text">
                <p>
                    В проект Reaper можно добавить неограниченное количество дорожек. 
                    При этом дорожки могут быть вложенными. И здесь кроется очень приятная сторона — в Reaper нет различия между MIDI и аудио дорожками. 
                    На одной и той же дорожке могут соседствовать фрагменты разных типов.
                    На каждой дорожке есть возможность установить посыл на любую другую дорожку. Это бывает полезно, если, например, нужно направить сигнал с нескольких дорожек на один эффект-процессор. 
                    REAPER поддерживает разнообразные плагины эффектов и инструментов: VST, VSTi, DX, DXi, AU (только в mac) и может строить из них цепочки.
                    Уникальным свойством REAPER является встроенная виртуальная машина JavaScript, которая компилирует и выполняет исходные тексты плагинов. Несколько плагинов такого типа поставляются вместе с программой. 
                    Их название начинается с букв JS. Исходный текст такого плагина может быть изменен и эти изменения сразу вступят в силу.
                    Также мультитрековый редактор позволяет редактировать огибающие дорожки для множества её параметров — громкость, панорама, громкость посыла, а также доступные по MIDI параметры установленных на эту дорожку VST плагинов. 
                    Для участков огибающей можно задавать различные формы — линейная, плавный переход и т.д.
                    В состав программы входит удобный секвенсор piano roll, позволяющий редактировать любые MIDI-совместимые данные.
                </p>
            </div>
            <div class="OGL">
                <p>Подробнее о возможностях</p>
            </div>
            <div class="FL-text">
                <p>
                    Перечислить все функции и возможности REAPER в пределах одной статьи вряд ли возможно. 
                    Поэтому я опишу только самые важные и интересные.

                    *Основные функции, поддержка стандартов:
                    *Полная поддержка VST, VSTi, DX, DXi и AU плагинов
                    *Собственный формат плагинов, написанных на языке JavaScript
                    *Версия для x64 платформ (со встроенным мостом для запуска 32-битных плагинов)
                    *Полная поддержка ASIO 2.0, работа с многоканальными устройствами
                    *Полная поддержка MIDI устройств (клавиатуры, синтезаторы, контроллеры и т.д.)
                    *Тонкие настройки интерфейса, поведения, горячих клавиш и действий

                    Функции многодорожечного редактора:
                    *Полностью свободный роутинг аудио и MIDI
                    *Изменение темпа и размерности в разных местах одного проекта
                    *Дорожки с любым количеством каналов (стерео, четыре и больше каналов)
                    *Вложенные дорожки
                    *Отсутствие деления дорожек на разные типы (MIDI, звук, etc)
                    *Регуляторы громкости и панорамы, обращения фазы на каждой дорожке
                    *Редактор огибающих для всех возможных параметров, относящихся к выбранной дорожке
                    *Запись огибающих в различных режимах
                    *Возможность привязать управление по MIDI к любому параметру, который вы можете менять вручную

                    Форматы файлов, с которыми может работать программа:
                    *Импорт: ACID, AIFF, APE, AVI, BWF, CDDA, EDL, FLAC KAR, MIDI, MOGG, MOV, MP3, MPEG, OGG, QT, RADAR session, REX2, SYX, W64, WAV, WAVPACK, WMV
                    *Экспорт: AIFF, APE, BWF, CD ISO (CUE/BIN), FLAC, MIDI, MOGG, MP3 (при наличии внешнего кодировщика lame_enc), OGG, W64, WAV, WAVPACK

                    От себя могу добавить следующее: можно смело использовать программу для «живой» работы. 
                    Единственный случай зависания/вылета за все время работы с программой был связан с некорректно установленным плагином.

                </p>
            </div>
            <div class="OGL">
                <p>Заключение</p>
            </div>
            <div class="FL-text">
                <p>
                    Я был удивлен, когда впервые установил REAPER тем, что при таком малом размере (по сравнению с аналогами) программа обладает настолько широкими возможностями. 
                    Еще больше меня удивила цена — 40$ для некоммерческого использования и 150$ для полноценной лицензии. 
                    При этом вы бесплатно получите обновления до последующего релиза. Согласитесь, для домашней студии это вполне приемлемо.
                    Я пользуюсь REAPER уже почти два года, до этого пробовал FL Studio, Nuendo и некоторые другие DAW. Сейчас меня полностью устраивает Reaper и я не собираюсь от него отказываться.
                </p>
            </div>
            
            </div>
        </div>
    </div>